*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: rgba(4, 120, 252, 0.885);
    color: white;
    font-family: sans-serif;
    font-size: 1vmax;
}


#Main
{
    height: 100vh;
    display: flex;
    align-items: center;
    /* padding: 20px; */
    justify-content: space-between;
}

#InputData
{
    position: relative;
    left: 50px;
    height: 60vh;
    width: 450px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgb(87, 86, 86);

}

#InputData form{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    justify-content: center;
}
#InputData form input
{
    padding: 10px 20px;
    border: none;
    background-color: rgb(60, 59, 59);
    color: white;
    font-size: 17px;
    border-radius: 10px;
    outline: none;
}


#InputData form input::placeholder
{
    color: gray;
}


#InputData form div button:first-of-type
{
    background-color: rgb(5, 161, 234);
    color: white;
    padding: 8px 13px;
    border: none;
    border-radius: 10px;
    font-family: 18px;
}

#InputData form div button:nth-of-type(2)
{
    background-color: rgb(234, 169, 5);
    color: black;
    padding: 8px 13px;
    border: none;
    border-radius: 10px;
    font-family: 18px;
}


#InputData form div button:last-of-type
{
    background-color: rgb(234, 5, 120);
    color: white;
    padding: 8px 13px;
    border: none;
    border-radius: 10px;
    font-family: 18px;
}




#InputData form div
{
    display: flex;
    column-gap: 20px;
    margin-top: 10px;
}



#UserNameShowCase
{
    width: 200px;
    background-color: rgb(248, 248, 252);
    position: absolute;
    color: black;
    right: 0;
    top: 0;
    height: 100vh;
    overflow: hidden;
    padding: 10px;
}

#UserList
{
    height: fit-content;
    overflow: auto;
    display: flex;
    row-gap: 1rem;
   
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.Card
{
    padding: .8rem 2rem;
    background-color: lightblue;
    color: black;
    border-radius: 30px;
    user-select: none;
    cursor: pointer;
    font-size: 1.2rem;
}

.Card:hover
{
    background-color: rgb(97, 208, 246);

}